@model WebApplication1.Models.Contact

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conatiner p-3">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2 class=""> Create A Contact</h2>

        </div>
        <div class="col-6 text-end">
            <a asp-action="Index" class="text-primary">Back to List</a>
        </div>


    </div>

    <div class="row">
        <div class="col-md-12">

            @if (TempData["error"] != null)
            {
                <div class="alert p-2 alert-dismissible alert-danger">

                    <strong>Oops!</strong>  <a hclass="alert-link">@TempData["error"]</a>.
                </div>
            }
              @if (User.IsInRole("Admin"))
            {
                <form asp-action="Create" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row pb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row pb-3">
                    
                    <div class="form group">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                   </div>
               

                <div class="row pb-3">
                     <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                </div>

                <div class="row pb-3">
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Zip" class="control-label"></label>
                                <input asp-for="Zip" class="form-control" />
                                <span asp-validation-for="Zip" class="text-danger"></span>
                                <input asp-for="UserId" value="@ViewBag.userId " readonly hidden class="form-control" />
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="Status" class="form-select">
                                    <option disabled selected>Select Status</option>
                                    <option value="Pending">Pending</option>
                                    <option class="alert-success" value="Approved">Approved</option>
                                    <option class="alert-danger" value="Rejected">Rejected</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                    
                </div>

                <br />
                <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
            }
            @if (User.IsInRole("User"))
            {
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row pb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">

                        <div class="form group">
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row pb-3">

                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row pb-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="State" class="control-label"></label>
                                <input asp-for="State" class="form-control" />
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Zip" class="control-label"></label>
                                <input asp-for="Zip" class="form-control" />
                                <span asp-validation-for="Zip" class="text-danger"></span>
                                <input asp-for="UserId" value="@ViewBag.userId " readonly hidden class="form-control" />
                                <input asp-for="Status" value="Pending" readonly hidden class="form-control" />

                            </div>
                        </div>


                    </div>

                    <br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>

            }
        </div>
    </div>

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
