@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The policy is for BDAT students who are using the Website</p>
<p>Only Registered Users can access the contact</p>
<p>Any other user is not allowed access, They are strictly prohibited </p>
<p>It is a demo of Web Application </p>
